<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/" xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore role:require="Standalone or ContentManagement or XMCloud">
    <events>
      <event name="indexing:end">
        <handler type="Sitecore.Webhook.Helpers.Event.RaiseCustomIndexing, Sitecore.Webhook.Helpers" method="AddIndexName" patch:before ="handler[@type='Sitecore.ContentSearch.Maintenance.IndexDependentHtmlCacheManager, Sitecore.ContentSearch']" />
      </event>
      <event name="customindexing:end">
      </event>
    </events>
  </sitecore>
</configuration>